/*
Rose : #E5007D
Gris : #3C3C3B
*/
@media screen {
    #impression { display:none; }
    body {        
        background-image: url("../../assets/img/pattern.jpg");
        background-repeat: repeat;
        background-attachment: fixed;
    }
    .container {    
        /*background-image: url('../../assets/img/background1.png');
        background-repeat: repeat;
        z-index: -1;*/

    }    
    .baseCX {
        background-color: #FFF;
        padding: 10px 30px 10px 30px;
        border:1px solid lightgray;      
    }
    #clientsTable, #usinesTable, #famillesTable, #produitsTable, #clientSearchTable, #produitSearchTable, #devisTable, #bdcTable, #livraisonTable, #tableCaisse, #tableCheques, #tableViewRemise, #tableNonPayees {
        font-size: 12px;
    }
    .clientsLigne, .usinesLigne, .famillesLigne, .produitsLigne, .clientSearchLigne, .produitSearchLigne, .devisLigne, .ligneVente, .ligneBdc, .ligneCommande, .ligneStock {
        cursor: pointer;
    }
    .ligneCommande:hover { background-color: gold;}
    .smallLigne { font-size : 10px; font-style: italic; color : gray; }
    .form-control-blank, .form-control-blank-right {
        border:none;
        font-weight : bold;
        text-align: center;
        width : 100%;
    }
    .form-control-blank-right {
        text-align: right;
    }
    .ombre {
        -moz-box-shadow: 0px 0px 15px 1px black;
        -webkit-box-shadow: 0px 0px 15px 1px black;
        -o-box-shadow: 0px 0px 15px 1px black;
        box-shadow: 0px 0px 15px 1px black;
    }
    .popover-title, .modal-header {        
        background-color: #3C3C3B;
        color: #FFF;
    }
    .popover-title {
        text-align: center;
    }
}
@media print {
    #impression {
        font-size:13px;
    }
    /*td {
        border-bottom:1px solid #cfcdcd;
    }*/
    body .row, .modal {
        display:none;
    }
    #impression, #tableCaisse {
        display:block; 
    }
    #impression img {display:block;}; 

}
